<div class="page page-orders">
  
  <h4 *ngIf="user"><b>{{user.storeName}}</b></h4>

  <div align="right">
    <span *ngFor="let classify of classifies">
        <a [routerLink]="['/stores', username]" [queryParams]="{ classify: classify}" role="button"><b>{{classify}}</b></a>&nbsp;
    </span>
    &nbsp;
    <a [routerLink]="['/stores', username]" [queryParams]="{ classify: classify}" role="button" class="btn btn-primary btn-sm" fragment="ordersheet">주문서</a>
  </div>

  <table class="table table-striped menus" border="0">
    <thead>
      <tr>
        <th style="width:60%" class="text-center">맛있는 메뉴</th>
        <th style="width:20%" class="text-center">가격</th>
        <th style="width:20%" class="text-center"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf=" !menus || menus.length === 0">
        <td class="noData" colspan="5">등록된 메뉴가 없습니다.</td>
      </tr>
      <ng-container *ngFor="let menu of menus">
        <ng-container *ngIf="menu.classify === classify && classify !== '전체'">
          <tr>
          <!-- <td align="center">{{menu.menuNo}}</td>
          <td align="center">{{menu.classify}}</td> -->
          <td>
            <div *ngIf="menu.classify==='곱배기';then content else other_content"></div>    
            <ng-template #content>{{menu.name}}(곱)</ng-template>
            <ng-template #other_content>{{menu.name}}</ng-template>
          </td>
          <td align="right">{{menu.price | number}}</td>        
          <td>          
            <button type="button" class="btn btn-default btn-xs" (click)="orderMenu(menu)">주문</button>
          </td>
        </tr>
      </ng-container>
      <ng-container *ngIf="classify === '전체'">
          <tr>
          <!-- <td align="center">{{menu.menuNo}}</td>
          <td align="center">{{menu.classify}}</td> -->
          <td>
            <div *ngIf="menu.classify==='곱배기';then content else other_content"></div>    
            <ng-template #content>{{menu.name}}(곱)</ng-template>
            <ng-template #other_content>{{menu.name}}</ng-template>
          </td>
          <td align="right">{{menu.price | number}}</td>
          <td>          
              <button type="button" class="btn btn-default btn-xs" (click)="orderMenu(menu)">주문</button>
          </td>
        </tr>
      </ng-container>
    </ng-container>
    </tbody>
  </table>

  <hr>

  <div id='ordersheet'>
  <table class="table table-striped menus" border="0">
    <thead>
      <tr>
        <td colspan="4" style="width:100%">
          <div *ngIf="orderingEx && orderingEx.ordermenu">
              <b>주문서 : {{orderingEx.username}} &nbsp;&nbsp;상태: {{orderingEx.status}}</b> <br/>
              주문번호: {{orderingEx._id }} - {{orderingEx.orderNo}}<br />            
              <!-- <div style="width: 100%; text-align: right"> -->
                {{ orderingEx.createdAt | date: 'yyyy-MM-dd HH:mm' }} <br/>
              <!-- </div> -->
                <!-- * 상태 : 선택, 주문, 접수, 계산, 취소 -->
            </div>
          </td>
      </tr>
      <tr>
        <th style="width:35%" class="text-center">맛있는 메뉴</th>
        <th style="width:15%" class="text-center">가격</th>
        <th style="width:30%" class="text-center">수량</th>
        <th style="width:20%" class="text-center">금액</th>
      </tr>
    </thead>
    <tbody>
      <ng-container  *ngIf="orderingEx === null">
        <tr>
          <td class="noData" colspan="4">등록된 주문이 없습니다.</td>
        </tr>
      </ng-container>
      <ng-container  *ngIf="orderingEx !== null">
        <tr *ngIf = "!orderingEx.ordermenu || orderingEx.ordermenu.length === 0">
          <td class="noData" colspan="3">등록된 메뉴가 없습니다.</td>
        </tr>        
        <ng-container *ngFor="let ordermenu of orderingEx.ordermenu; let i=index">
          <tr>            
            <td>
                <div *ngIf="ordermenu.classify==='곱배기';then content else other_content"></div>    
                <ng-template #content>{{ordermenu.name}}(곱)</ng-template>
                <ng-template #other_content>{{ordermenu.name}}</ng-template>
            </td>
            <td align="right">{{ordermenu.price | number}}</td>
            <td align="center">
              <input style="width: 24px; text-align: center" [(ngModel)]="ordermenu.number" type="text" readonly/>
              <button style="width: 24px" (click)="addNumber(i)">+</button>
              <button style="width: 24px" (click)="subsNumber(i)">-</button>
            </td>
            <td align="right"> {{ordermenu.sum | number}}</td>
          </tr>
        </ng-container>
        <tr>
          <td colspan="4" align="right">
            <b>합계: {{ getTotal(orderingEx) | number }}</b>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  </div>
  <div *ngIf="orderingEx !== null" style="width: 100%; text-align: right" >
    <hr>
    테이블: <input style="width: 48px; text-align: center" [(ngModel)]="ordering.tableNo" type="text"/> &nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-primary btn-sm" (click)="submitOrder(ordering)">주문하기</button>&nbsp;
    <button class="btn btn-default btn-sm" (click)="cancelOrder(ordering)">주문취소</button>
  </div>

</div>
