<div class="page page-menus-new">
    <h4><b>{{user.storeName}}</b></h4>
    
    <div class="buttons">
      <a [routerLink]="['/','menus']" class="btn btn-default">목록</a>
      <span (click)="delete()" class="btn btn-default delete">삭제</span>
    </div>

    <form [formGroup]="myForm" (ngSubmit)="submit(myForm.value)" class="form-horizontal">
      
      <h5 class="contentBoxTop">메뉴 수정</h5>
      <br/>
      <div class="form-group">
        <label for="menuNo" class="col-sm-3 control-label">번호*</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" formControlName="menuNo" id="menuNo">
          <small *ngIf="!myForm.controls.menuNo.valid" class="text-danger">
            메뉴번호를 입력하세요. (숫자만)
          </small>
        </div>
      </div>
  
      <div class="form-group">
        <label for="classify" class="col-sm-3 control-label">메뉴분류*</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" formControlName="classify" id="classify">
          <small *ngIf="!myForm.controls.classify.valid" class="text-danger">
            메뉴 분류를 입력하세요. (2~20글자)
          </small>
        </div>
      </div>
  
      <div class="form-group">
          <label for="name" class="col-sm-3 control-label">메뉴이름*</label>
          <div class="col-sm-9">
            <input class="form-control" type="text" formControlName="name" id="name">
            <small *ngIf="!myForm.controls.name.valid" class="text-danger">
              메뉴 이름을 입력하세요. (2~20글자)
            </small>
          </div>
        </div>
  
      <div class="form-group">
        <label for="price" class="col-sm-3 control-label">가격*</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" formControlName="price" id="price">
          <span *ngIf="!myForm.controls.price.valid" class="text-danger">
            <small>가격을 입력하세요. (숫자만)</small>
          </span>
        </div>
      </div>
  
      <div class="form-group">
          <label for="description" class="col-sm-3 control-label">설명</label>
          <div class="col-sm-9">
            <input class="form-control" type="text" formControlName="description" id="description">
          </div>
      </div>
  
      <div class="form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
          <button type="button" class="btn btn-secondary" (click)="addPremium()"> 프리미엄 메뉴 추가</button>
        </div>
      </div>
  
      <!-- 프리미엄 메뉴 추가 -->
      <div formArrayName="premia">
        <div *ngFor="let premium of myForm.controls.premia.controls; let i=index">
          <!-- <div class="form-group">
              <label for="price" class="col-sm-3 control-label"> </label>
              <span>프리미엄 {{i + 1}}</span> &nbsp;
              <button *ngIf="myForm.controls.premia.controls.length > 1" (click)="removePremium(i)">삭제</button>
          </div> -->
          <div [formGroupName]="i">
            <div class="form-group">
              <div class="col-sm-3">
                <button class="btn btn-secondary" *ngIf="myForm.controls.premia.controls.length > 0" (click)="removePremium(i)">삭제</button>
              </div>
              <div class="col-sm-3">
                <input class="form-control" type="text" formControlName="size" placeholder="규격" id="size">
              </div>
              <div class="col-sm-6">
                <input class="form-control" type="text" formControlName="premium_price" placeholder="가격" id="premium_price">
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <p>
        <small>*필수</small>
      </p>
      <div *ngIf="errorResponse?.success===false" class="alert alert-danger">
          <!-- {{errorResponse?.message}} -->
          {{errorResponse?.errors.unhandled.errmsg}}
      </div>
  
      <div style="float: right" >
          <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">메뉴 수정</button>
      </div>
      
    </form>
  </div>