<div class="page page-settings">
  <!-- <div class="buttons">
    <a class="btn btn-default" href="/settings/add">설정등록</a>
  </div> -->
  <button class="btn btn-default btn-sm" (click)="createSetting()">설정생성</button>

  <table class="table table-striped" border="0">
    <thead>
      <tr>
        <th style="width:20%" class="text-center">설정종류</th>
        <th style="width:50%" class="text-center">설정내용</th>
        <th style="width:10%" class="text-center">설정</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!settings || settings.length === 0">
        <td class="noData" colspan="4">등록된 설정이 없습니다.</td>
      </tr>
      <tr *ngFor="let setting of settings">
        <td align="center">{{setting.type}}</td>
        <td align="center">
            <input style="width: 430px; " [(ngModel)]="setting.content" type="text"/>  
        </td>
        <!-- <td>{{setting.createdAt | date: 'yyyy-MM-dd' }}</td> -->
        <td><button class="btn btn-default btn-sm" (click)="setContent(setting)">설정</button></td>
      </tr>
    </tbody>
  </table>
 
</div>
